<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter" ng-controller="mainCtrl">

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Ionic Blank Starter</h1>
      </ion-header-bar>
      <ion-content>
        <span>Status: {{status_log}}</span>
        <br><br>
        <span>Server IP: {{server_ip}}</span>
        <br><br>
        <span>Client Sent: {{rec_data}}</span>
        <!-- <button type="button" name="start_one"
          ng-click="start_one()">start_one</button>

        <br><br>
        <button type="button" name="socket_create"
          ng-click="socket_create()">socket_create</button>

        <br><br>
        <button type="button" name="get_info"
          ng-click="get_info()">get_info</button>

        <br><br>
        <button type="button" name="getSockets"
          ng-click="get_sockets()">getSockets</button>

        <br><br>
        <button type="button" name="socket_close"
          ng-click="socket_close()">socket_close</button> -->
      </ion-content>
    </ion-pane>
  </body>
</html>
